* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amazon Ember', sans-serif;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly;  */
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("Images/amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.nav-address{
    width: 100px;
}

.add-first {
    color: #CCCCCC;
    font-size: 0.75rem;
    margin-left: 15px;
    margin-right: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
    
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 1250px;
    height: 40px;
    background-color: pink;
    border-radius: 5px;
    overflow: hidden; /* Ensures child elements fit within the border-radius */
}

.nav-search:hover {
    border: 2px solid #febd68;
}

.option1 {
    text-align: center;
}

.search-select {
    background-color: #F3F3F3;
    width: 50px;
    text-align: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(105, 0, 105);
    font-weight: bold;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-lang {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    margin-left:30px;
    margin-right: 20px;
}

.flag-icon {
    width: 30px; /* Adjust width to fit navbar */
    height: 25px; /* Adjust height to fit navbar */
    margin-right: 5px; /* Space between flag and select */
    
}


.lang-select {
    background-color: #0F1111;
    width: 40px;
    color:white;
    text-align: center;
    border: none;
    margin-left: 0px;
}

.optionl{
    background-color: white;
    color: black;
    text-align: left;
}

.signin{
    width: 120px;
    margin-right: 20px;
}

.return {
    width: 70px;
    margin-right: 20px;
}

span {
    font-size: 12px;
}

.acc{
    font-size: 14px;
    font-weight: bold;
}

.cart{
    display: flex;
}

.cart-icon i{
    font-size: 30px;
}

.cart {
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
}

.bar {
    margin-right: 6px;
    font-weight: bold;
}

.panel {
    background-color: #203041;
    display: flex;
    height: 40px;
    align-items: center;
}

.panel-all{
    color:white;
    display: flex;
    margin-left: 20px;
    margin-right: 5px;
    font-weight: bold;
}

.panel-ops {
    color: white;
    margin: 30px;
    display: flex;
    width: 70%;
    font-size: 0.85rem;
}

.panel-ops p{
    margin-left: 3px;
    margin-right: 20px;
}

.lSPager {
    margin-top: -25px !important;
}

.main-sec{
    height: 600px;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
}

.banner-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}
.image-container {
    position: relative;
    align-items: center;
    justify-content: center;
}

.text-overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    width:1450px;
    bottom: 320px;
    left: 20px;
    right: 20px;
    background-color: white; /* Optional: to make text stand out against the image */
    color: black; /* Text color */
    padding: 10px;
    text-align: center;
}

.m-img {
   
    height: 600px; /* Ensure images are responsive */
}

.text a{
    color: #007185;
    text-decoration: none;
}
 /* shop section */
.shop-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6 ;
}

.box {
    /* border: 2px solid black; */
    height:400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    /* background-size: cover; */
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}
.shop-sec > .box >.box-content> p > a {
    color: #007185;
    text-decoration: none;
}

/* footer */

footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    justify-content: space-evenly;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 500px;
    text-decoration: none;
    display: flex;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 5px;
    color: #dddddd;
    text-decoration: none;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("Images/amazon_logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
}

.foot-panel4 {
    background-color: #0F1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages {
    
    padding-top: 25px;

}

.copyright {
    padding-top: 5px;
    
}