* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("Images/amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.add-first {
    color: #CCCCCC;
    font-size: 0.75rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    background-color: pink;
    border-radius: 5px;
    overflow: hidden; /* Ensures child elements fit within the border-radius */
}

.search-select {
    background-color: #F3F3F3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(105, 0, 105);
    font-weight: bold;
    background-color: #febd68;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
